# Auto detect text files and perform LF normalization
* text=auto
c:\Users\anjal\Desktop\amazon.in clone\index.html
c:\Users\anjal\Desktop\amazon.in clone\style.css
c:\Users\anjal\Desktop\amazon.in clone\Amazon_logo.webp
c:\Users\anjal\Desktop\amazon.in clone\books.webp
c:\Users\anjal\Desktop\amazon.in clone\clothes.avif
c:\Users\anjal\Desktop\amazon.in clone\computer.avifc
:\Users\anjal\Desktop\amazon.in clone\furniture.webp
c:\Users\anjal\Desktop\amazon.in clone\health_care.jpg
c:\Users\anjal\Desktop\amazon.in clone\hero-section.jpg
c:\Users\anjal\Desktop\amazon.in clone\home & kitchen.jpg
c:\Users\anjal\Desktop\amazon.in clone\jewe 3.jpg
c:\Users\anjal\Desktop\amazon.in clone\small business.jpg


